
.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  .course-card {
    background-color: #f9f9f9;
    object-fit: cover;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: navy; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 250px; 
  }
  
  .course-info {
    text-align: left;
    height: 200px;
  }
  
  .course-meets {
    text-align: left;
  }

  .divider {
    height: 1px; 
    background-color: navy; 
  }

  .course-card.selected {
    border-color: navy; 
    background-color: #e0e7ff; 
  }
  