.button {
  border-radius: 8px; 
  color: navy; 
  background: transparent;
  border: 2px solid navy; 
  padding: 15px 30px; /* Increase padding for a larger button */
  margin: 0 5px; 
  cursor: pointer; 
  font-weight: normal; 
  font-size: 16px; /* Increase font size for better visibility */
}