.term-button {
    border-radius: 8px; 
    color: navy; 
    background: transparent;
    border: 2px solid navy; 
    padding: 10px 20px; 
    margin: 0 5px; 
    cursor: pointer; 
    font-weight: normal; 
  }
  
  .term-button.selected {
    font-weight: bold; 
  }
  